  <div class="error" ng-message="required">
    <i style="color:#ef473a;" class="ion-information-circled"></i>
    <b>
      Preenchimento obrigatório!
    </b>
  </div>
  <div class="error" ng-message="minlength">
    <i class="ion-information-circled"></i>
    <b>
      Mínimo de posições não atingido!
    </b>
  </div>
  <div class="error" ng-message="maxlength">
    <i style="color:#ef473a;" class="ion-information-circled"></i>
    <b>
      Tamanho máximo excedido!
    </b>
  </div>
  <div class="error" ng-message="email">
    <i style="color:#ef473a;" class="ion-information-circled"></i>
    <b>
      Email inválido!
    </b>
  </div>
