<ion-view title="ImunizaBR">
  <ion-content padding="true" class="has-header">
    <h4 id="imunizaBR2-heading9" style="color:#000000;font-weight:600;text-align:center;">FICHA TÉCNICA</h4>
    <ion-list id="imunizaBR2-list13">
      <ion-item class="item-icon-left" id="imunizaBR2-list-item21" href="#" onclick="window.open('http://www.w3schools.com/html/html5_intro.asp', '_system', 'location=yes'); return false;">
        <i class="icon ion-social-html5"></i>Plataforma híbrida</ion-item>
    </ion-list>
    <ion-list id="imunizaBR2-list14">
      <ion-item class="item-icon-left" id="imunizaBR2-list-item22" href="#" onclick="window.open('http://ionicframework.com/', '_system', 'location=yes'); return false;">
        <i class="icon ion-ionic"></i>Framework Ionic</ion-item>
      <ion-item class="item-icon-left" id="imunizaBR2-list-item23" href="#" onclick="window.open('https://ionic.io/cloud', '_system', 'location=yes'); return false;">
        <i class="icon ion-android-person"></i>Autenticação Ionic Cloud</ion-item>
    </ion-list>
    <ion-list id="imunizaBR2-list15">
      <ion-item class="item-icon-left" id="imunizaBR2-list-item24" href="#" onclick="window.open('https://console.ng.bluemix.net/home/', '_system', 'location=yes'); return false;">
        <i class="icon ion-android-upload"></i>Backend IBM Bluemix</ion-item>
      <ion-item class="item-icon-left" id="imunizaBR2-list-item25" href="#" onclick="window.open('https://developers.google.com/maps/?hl=pt-br', '_system', 'location=yes'); return false;">
        <i class="icon ion-ios-location"></i>Google Maps API</ion-item>
      <ion-item class="item-icon-left" id="imunizaBR2-list-item26" href="#" onclick="window.open('https://creativecommons.org/licenses/by/3.0/br/deed.pt', '_system', 'location=yes'); return false;">
        <i class="icon ion-alert-circled"></i>Licença CC BY 3.0 BR</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <ion-list id="imunizaBR2-list16">
      <ion-item class="item-icon-left" id="imunizaBR2-list-item27">
        <i class="icon ion-arrow-down-a"></i>Mais</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 174px;"></div>
    <div>
      <img src="img/DzXxf4luQMmcqzpY8pfh_logo-unb.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 50px;"></div>
    <div id="imunizaBR2-markdown5" style="color:#000000;">
      <p>Aplicativo desenvolvido como requisito parcial para conclusão do Curso de Computação - Licenciatura.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div id="imunizaBR2-markdown1" style="color:#000000;">
      Alunos:
    </div>
    <div id="imunizaBR2-markdown6" style="color:#000000;text-align:center;">
      <p>Alexandre Vinhadelli Papadópolis<br>
        Ronicley Ramos Fontes</p>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div id="imunizaBR2-markdown2" style="color:#000000;">
      Orientador:
    </div>
    <div id="imunizaBR2-markdown7" style="color:#000000;text-align:center;">
      <p>Prof. Dr. Eduardo Alchieri</p>
    </div>
    <div id="imunizaBR2-markdown3" style="color:#000000;text-align:center;"></div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div id="imunizaBR2-markdown4" style="color:#000000;text-align:center;">
      <p>Brasília-DF, 2016</p>
    </div>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
  </ion-content>
</ion-view>
