  <ion-view title="Registro" hide-nav-bar="true" cache-view="false" nav-transition="none">
    <ion-content padding="true" class="manual-ios-statusbar-padding side-menu-gradient" scroll="false" ng-controller="RegistroController">
    <form name="Form" class="list center-form" novalidate="" ng-submit="signin(Form)">
      <h1 style="color:#F8F1F1;font-weight:600;text-align:center;">ImunizaBR</h1>
      <div>
        <img src="img/1mJFWe6NSsaZJ2qloifo_ZGotinha.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list>
        <label class="item item-input"  ng-class="{ 'has-errors' : Form.nome.$invalid && Form.$submitted, 'no-errors' : Form.nome.$valid && Form.$submitted}">
          <span class="input-label">Nome</span>
          <input type="nome" placeholder="" name="nome" ng-model="user.nome" required>
        </label>
        <div class="error-container last-error-container" ng-show="Form.nome.$error && Form.$submitted" ng-messages="Form.nome.$error" ng-messages-include="templates/error-list.html"></div>

        <label class="item item-input"  ng-class="{ 'has-errors' : Form.email.$invalid && Form.$submitted, 'no-errors' : Form.email.$valid && Form.$submitted}">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" name="email" ng-model="user.email" required>
        </label>
        <div class="error-container last-error-container" ng-show="Form.email.$error && Form.$submitted" ng-messages="Form.email.$error" ng-messages-include="templates/error-list.html"></div>

        <label class="item item-input"  ng-class="{ 'has-errors' : Form.pass.$invalid && Form.$submitted, 'no-errors' : Form.pass.$valid && Form.$submitted}">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="" name="password" ng-model="user.password" required>
        </label>
        <div class="error-container last-error-container" ng-show="Form.password.$error && Form.$submitted" ng-messages="Form.password.$error" ng-messages-include="templates/error-list.html"></div>

      </ion-list>
      <div class="spacer" style="width: 290px; height: 6px;"></div>
      <button class="button button-light button-block" type="submit">Registrar</button>
      <a ui-sref="autenticacao" class="button button-light button-block button-clear">Já tenho registro</a>
    </form>
  </ion-content>
</ion-view>
